/src/*.o
/cmake-build-debug/
/cmake-build-default/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/output.txt

/cmake-build-debug/*
/cmake-build-default/*
/cmake-build-minsizerel/*
/cmake-build-release/*
/cmake-build-relwithdebinfo/*

/.vscode/
/.vscode/*
/.idea/
/.idea/*
/Testing/
/cmake_install.cmake
/conway.cbp
